
html,body{
	width: 100%;
	height: 100%;
	font-size: 1rem;
}
.container{
	width: 100%;
	position: relative;
}
#canvas{
	background-color: #090723;
	display: block;
	position: fixed;
	overflow: hidden;
}
#canvas2{
	display: block;
	position: fixed;
	z-index: 2;
}
/*星球*/
.circle{
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
}
.circle li{
	border-radius: 50%;
	position: absolute;
	-webkit-transition: all 5s;
	-moz-transition: all 5s;
	-ms-transition: all 5s;
	transition: all 5s;
}
.circle li:nth-child(1){
	width: 17.5rem;
	height: 17.5rem;
	top: -10rem;
	right: 12%;
	background: -webkit-radial-gradient(circle at 5rem 5rem,#53253c,rgb(66,20,42));
	background: -moz-radial-gradient(circle at 5rem 5rem,#53253c,rgb(66,20,42));
	background: -ms-radial-gradient(circle at 5rem 5rem,#53253c,rgb(66,20,42));
	background: radial-gradient(circle at 5rem 5rem,#53253c,rgb(66,20,42));
}
.circle li:nth-child(2){
	width: 1.5rem;
	height: 1.5rem;
	top: 12.5rem;
	right: 30%;
	background: -webkit--radial-gradient(circle at 0.5rem 0.5rem,#2c2046,rgb(25,18,40));
	background: -moz-radial-gradient(circle at 0.5rem 0.5rem,#2c2046,rgb(25,18,40));
	background: -ms-radial-gradient(circle at 0.5rem 0.5rem,#2c2046,rgb(25,18,40));
	background: radial-gradient(circle at 0.5rem 0.5rem,#2c2046,rgb(25,18,40));
}
.circle li:nth-child(3){
	width: 3rem;
	height: 3rem;
	top: 25rem;
	right: 25%;
	background: -webkit-radial-gradient(circle at 1rem 1rem,#11163f,rgb(16,18,40));
	background: -moz-radial-gradient(circle at 1rem 1rem,#11163f,rgb(16,18,40));
	background: -ms-radial-gradient(circle at 1rem 1rem,#11163f,rgb(16,18,40));
	background: radial-gradient(circle at 1rem 1rem,#11163f,rgb(16,18,40));
}
.circle li:nth-child(4){
	width: 5rem;
	height: 5rem;
	top: 15rem;
	right: 12%;
	background: -webkit-radial-gradient(circle at 1.5rem 1.5rem,#372d35,rgb(33,27,32));
	background: -moz-radial-gradient(circle at 1.5rem 1.5rem,#372d35,rgb(33,27,32));
	background: -ms-radial-gradient(circle at 1.5rem 1.5rem,#372d35,rgb(33,27,32));
	background: radial-gradient(circle at 1.5rem 1.5rem,#372d35,rgb(33,27,32));
}
.container-box{
	width: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
	clear: both;
}
.content{
	width: 60rem;
	height: 100%;
	left: 50%;
	margin: 0 auto;
	
}
/*图标*/
.iconfont{
	width: 2em;
	height: 2em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	transition: all .5s;
}
/*页面头部*/
header{
	width: 100%;
	height: 2.5rem;
	margin-top: 0.5rem;
	font-size: 1.2rem;
	color: #fff;
	letter-spacing: 0.2rem;
	font-family: 'Micorsoft YaHei';
	line-height: 2.5rem;
}
header .iconfont{
	font-size: 1.2rem !important;
}
.header-menu{
	height: 2.5rem;
	display: inline-block;
	height: 1.5rem;
}
.header-menu>li{
	width: 4rem;
	font-size: 0.8rem;
	padding-left: 1rem;
	display: inline-block;
	letter-spacing: 0;
	color: #fff;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	-ms-opacity: .5;
	opacity: .5;
	line-height: 2.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
.header-menu>li:hover{
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	opacity: 1;
	cursor: pointer;
}
.header-menu li ul{
	position: absolute;
	left: 0;
	background-color: #090723;
	border-radius: 0.25rem;
	top: 2rem;
	visibility: hidden;
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	opacity: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.header-menu li ul li{
	width: 11rem;
	height: 2rem;
	line-height: 2rem;
	font-size: 0.6rem;
	padding-left: 1rem;
	letter-spacing: 0;
	color: #fff;
	-webkit-opacity: .8;
	-moz-opacity: .8;
	-ms-opacity: .8;
	opacity: .8;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
.header-menu>li:hover ul{
	visibility: visible;
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	opacity: 1;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.header-menu li ul li:hover{
	background-color: rgb(28,27,42);
}
.user-wel{
	float: right;
	font-size: 1rem;
	padding-right: 1rem;
}
.exit{
	float: right;
	padding-right: 1rem;
	font-size: 0.7rem;
	color: #666;
	cursor: pointer;
}
.exit:hover{
	color: rgb(28,27,42);
}
i.iconfont{
	font-size: 1.2rem;
	float: right;
	margin-left: 1rem;
}
i.iconfont:hover{
	transform: scale(1.3);
	color: rgb(90,20,42);
	cursor: pointer;
}
.collecter{
	position: relative;
	float: right;
}
.collect{
	width: 12.5rem;
	height: auto;
	max-height: 50rem;
	overflow: auto;
	padding: 0.5rem 0;
	background-color: #ccc;
	position: fixed;
	right: -12.5rem;
	top: 2.5rem;
	-webkit-opacity: .5;
	-moz-opacity: .5;
	-ms-opacity: .5;
	opacity: .5;
	border-radius: 0.5rem;
	-webkit-transition: right linear .5s;
	-moz-transition: right linear .5s;
	-ms-transition: right linear .5s;
	transition: right linear .5s;
}
.collecter .iconfont:first-child:hover + .collect{
	right: 0;
}
.collect:hover{
	right: 0;
}
.collect li{
	width: 100%;
	overflow: hidden;
	height: 3.5rem;
	border-bottom: 0.2rem dotted #fff;
	position: relative;
}
.collect li i.iconfont{
	position: absolute;
	top: -0.5rem;
	right: -0.6rem;
}
.collect li p{
	text-align: center;
	font-size: 1rem;
	line-height: 1.5rem;
}
/*搜索框部分*/
.search-box{
	width: 80%;
	height: 15rem;
	margin: 11rem auto;

}
.search-box .search-icon{
	display: block;
	width: 5rem;
	height: 5rem;
	margin: 0 auto;
	font-size: 1.25rem !important;
}
.search-verse{
	width: 80%;
	height: 3rem;
	margin: 2.5rem auto;
	display: block;
	text-align: center;
	font-size: 0.8rem;
	color: #fff;
	border: 0.05rem solid #1e2556;
	border-radius: 1.5rem;
	background: #0f0f33;
}
.search-verse:hover{
	border: 0.05rem solid #fff;
}
.search-title{
	width: 100%;
	text-align: center;
	font-size: 0.8rem;
	color: #fff;
	letter-spacing: 0.05rem;
}
.search-address{
	width: 100%;
	height: 5rem;
	line-height: 5rem;
	text-align: center;
	font-size: 0.5rem;
	color: #2e2c4b;
}
.key-box{
	width: 42rem;
	height: 21rem;
	border-radius: 0 0 22rem 22rem;
	border-color: #1e2556;
	border-style: dashed;
	border-width: 0 0.1rem 0.1rem 0.1rem;
	margin: -2.5rem auto 0;
	position: relative;
	display: none;
}
.key-box ul{
	width: auto;
	height: 14rem;
	margin: 0 auto;
	overflow: hidden;
}
.key-box ul li{
	display: table;
	min-width: 14rem;
	width: auto;
	height: 2.5rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 1rem;
	margin: 1.5rem auto;
	text-align: center;
	line-height: 2.5rem;
	font-size: 0.8rem;
	letter-spacing: 0.05rem;
	border-radius: 1.25rem;
	cursor: pointer;
	transition: all .5s;
}
.key-box ul li .search-icon{
	display: inline-block;
	width: 1rem;
	height: 1rem;
}
.key-box ul li:first-child{
	color: red;
	background-color: #0f0f33;
	border: 0.05rem solid #1e2556;
}
.key-box ul li:last-child{
	color: #666;
	background-color: rgba(17,16,36,.6);
}
.key-box ul li:last-child:hover{
	color: red;
	background-color: #0f0f33;
	border: 0.05rem solid #1e2556;
}
.key-box .ball{
	width: 1rem;
	height: 1rem;
	border-radius: 0.5rem;
	background-color: #1e2556;
	position: absolute;
	left: 20.05rem;
	top: 5.05rem;
	z-index: 200;
}
/*内容展示区*/
.con-display{
	width: 95%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.con-display>li{
	width: 30%;
	height: 17.5rem;
	margin: 1rem 0.75rem;
	background-color: #fff;
	transition: all .5s;
	border-radius: 0.25rem;
	position: relative;
}
.con-display li:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
}
.con-display li .search-icon{
	display: block;
	width: 4rem;
	height: 4rem;
	margin: 1.5rem auto 0.5rem;
	font-size: 1.25rem !important;
}
.con-display li h5{
	width: 100%;
	text-align: center;
	font-size: 0.8rem;
	margin-bottom: 2rem;
	color: #666;
}
.con-display li p{
	font-size: 1.25rem;
	width: 100%;
	line-height: 3rem;
	text-align: center;
	letter-spacing: 0.1rem;
	color: #090723;
}
.con-display i.iconfont{
	-webkit-opacity: 0;
	-moz-opacity: 0;
	-ms-opacity: 0;
	opacity: 0;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}
.con-display>li:hover i.iconfont{
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	opacity: 1;
}
/*评论区*/
.con-display .display-wrap{
	width: 100%;
	height: 100%;
	background-color: #fff;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
	border-radius: 0.25rem;
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.con-display .display-wrap div{
	width: 90%;
	margin: 0.5rem auto;
	border-bottom: 0.2rem dotted #666;
}
.con-display .display-wrap div.wrap-top{
	height: 80%;
	overflow: auto;
	border: none;
}
.con-display .display-wrap img{
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 1.25rem;
	vertical-align: middle;
}
.con-display .display-wrap span{
	font-size: 10.2rem;
	padding-left: 0.5rem;
	color: #666;
	vertical-align: middle;
}
.con-display .display-wrap p{
	line-height: 1rem;
	font-size: 0.8rem;
	padding-left: 3rem;
	text-indent: 2rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
	word-break:break-word;/*文字超出换行*/
	margin-bottom: 0.5rem;
}
/*评论部分*/
.con-display .display-wrap div.comment{
	width: 90%;
	height: 12%;
	position: absolute;
	left: 0.5rem;
	bottom: 0;
	border: none;
}
.con-display .display-wrap div.comment span{
	font-size: 1.25rem;
	line-height: 1.25rem;
	cursor: pointer;
}
.con-display .display-wrap div.comment .iconfont{
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	opacity: 1;
}
.con-display .display-wrap div.comment .iconfont{
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.con-display .display-wrap div.comment input{
	margin-left: 1.5rem;
	border-radius: 0.25rem;
	border: 0.05rem solid #000;
}
/*分页*/
.con-page{
	height: 2rem;
	margin-top: 1rem;
	text-align: center;
}
.con-page span{
	width: 2rem;
	height: 2rem;
	border-radius: 1rem;
	color: #fff;
	font-size: 1.25rem;
	display: inline-block;
	margin: 0.5rem;
	text-align: center;
	line-height: 2rem;
}
.con-page span:hover{
	background-color: rgb(90,20,42);
	cursor: pointer;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	transition: all .5s;
}


/*页面尾部*/

@media screen and (min-width: 1200px){
	footer{
		width: 100%;
		height: 11rem;
		margin-top: 5rem;
		background: rgba(16,15,31,.6);
	}
}
@media screen and (max-width: 1200px){
	footer{
		width: 60rem;
		height: 11rem;
		margin-top: 5rem;
		background: rgba(16,15,31,.6);
	}
}

footer p:first-child{
	font-size: 1rem;
	text-align: center;
	padding-top: 4rem;
	color: #fff;
}
footer p:last-child{
	font-size: 0.8rem;
	text-align: center;
	margin-top: 0.5rem;
	color: #666;
}
/*注册弹出层*/
.regi-box{
	width: 35rem;
	height: 25rem;
	top: 50%;
	left: 50%;
	margin-top: -12.5rem;
	margin-left: -17.5rem;
	background-color: #fff;
	z-index: 999;
	position: fixed;
	border-radius: 0.4rem;
	-webkit-box-shadow: 0 0 0.75rem #000;
	-moz-box-shadow: 0 0 0.75rem #000;
	-ms-box-shadow: 0 0 0.75rem #000;
	box-shadow: 0 0 0.75rem #000;
	display: none;
}
.regi-info{
	width: 30rem;
	height: 17rem;
	margin: 2.5rem 0 0 4rem;
}
.regi-info li{
	width: 100%;
	height: 3rem;
}
.login-info li label,.regi-info li label{
	display: inline-block;
	width: 6rem;
	font-size: 0.8rem;
	line-height: 3rem;
	letter-spacing: 0.1rem;
	padding-right: 0.5rem;
	text-align: right;
}
.login-info li input,.regi-info li input{
	width: 12.5rem;
	height: 1.5rem;
	padding-left: 0.5rem;
	border-radius: 0.25rem;
 	border-width: 0.05rem;
 	border-color: #666;
}
.login-info li span .iconfont,.regi-info li span .iconfont{
	width: 0.75rem;
	height: 0.75rem;

}
.login-info li span,.regi-info li span{
	line-height: 2.5rem;
	font-size: 0.6rem;
	color: red;
	padding-left: 0.4rem;
}
.wrap-box{
	width: 100%;
	height: 100%;
	background-color: #aaa;
	position: fixed;
	z-index: 888;
	-webkit-opacity: .3;
	-moz-opacity: .3;
	-ms-opacity: .3;
	opacity: .3;
	display: none;
}
/*登录弹出层*/
.login-box{
	width: 25rem;
	height: 15rem;
	top: 50%;
	left: 50%;
	margin-top: -7.5rem;
	margin-left: -12.5rem;
	background-color: #fff;
	z-index: 999;
	position: fixed;
	border-radius: 0.4rem;
	-webkit-box-shadow: 0 0 0.75rem #000;
	-moz-box-shadow: 0 0 0.75rem #000;
	-ms-box-shadow: 0 0 0.75rem #000;
	box-shadow: 0 0 0.75rem #000;
	display: none;
}
.login-info{
	width: 24rem;
	height: 7.5rem;
	margin: 2.5rem 0 0 1rem;
}
#login,#register{
	width: 5rem;
	height: 2.5rem;
	background-color: rgb(53,104,172);
	border-radius: 0.25rem;
	margin: 0 auto;
	color: #fff;
	line-height: 2.5rem;
	letter-spacing: 1rem;
	text-align: center;
	text-indent: 1rem;
	cursor: pointer;
}
