/*图标*/
.iconfont{
	width: 2em;
	height: 2em;
	vertical-align: -0.15em;
	fill: currentColor;
	overflow: hidden;
	transition: all .5s;
}
html,body{
	width: 100%;
	height: 100%;
}
.container{
	width: 100%;
	position: relative;
}
#canvas{
	background-color: #090723;
	display: block;
	position: fixed;
}
#canvas2{
	display: block;
	position: fixed;
	z-index: 2;
}
/*星球*/
.circle{
	z-index: 10;
	position: fixed;
	width: 100%;
	height: 100%;
}
.circle li{
	border-radius: 50%;
	position: absolute;
	transition: all 5s;
}
.circle li:nth-child(1){
	width: 350px;
	height: 350px;
	top: -200px;
	right: 12%;
	background: radial-gradient(circle at 100px 100px,#53253c,rgb(66,20,42));
}
.circle li:nth-child(2){
	width: 30px;
	height: 30px;
	top: 250px;
	right: 30%;
	background: radial-gradient(circle at 10px 10px,#2c2046,rgb(25,18,40));
}
.circle li:nth-child(3){
	width: 60px;
	height: 60px;
	top: 500px;
	right: 25%;
	background: radial-gradient(circle at 20px 20px,#11163f,rgb(16,18,40));
}
.circle li:nth-child(4){
	width: 100px;
	height: 100px;
	top: 300px;
	right: 12%;
	background: radial-gradient(circle at 30px 30px,#372d35,rgb(33,27,32));
}
.container-box{
	width: 100%;
	position: absolute;
	z-index: 100;
	top: 0;
}
.content{
	width: 1200px;
	height: 100%;
	left: 50%;
	margin: 0 auto;
	
}
/*页面头部*/
header{
	width: 100%;
	height: 50px;
	margin-top: 10px;
	font-size: 24px;
	color: #fff;
	letter-spacing: 4px;
	font-family: 'Micorsoft YaHei';
	line-height: 50px;
}
header .iconfont{
	font-size: 24px !important;
}
.header-menu{
	height: 50px;
	display: inline-block;
	height: 30px;
}
.header-menu>li{
	width: 80px;
	font-size: 16px;
	padding-left: 20px;
	display: inline-block;
	letter-spacing: 0;
	color: #fff;
	opacity: .5;
	line-height: 50px;
	box-sizing: border-box;
	position: relative;
}
.header-menu>li:hover{
	opacity: 1;
	cursor: pointer;
}
.header-menu li ul{
	position: absolute;
	left: 0;
	background-color: #090723;
	border-radius: 5px;
	top: 40px;
	visibility: hidden;
	opacity: 0;
	transition: all .5s;
}
.header-menu li ul li{
	width: 120px;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	padding-left: 20px;
	letter-spacing: 0;
	color: #fff;
	opacity: .8;
	box-sizing: border-box;
}
.header-menu>li:hover ul{
	visibility: visible;
	opacity: 1;
	transition: all .5s;
}
.header-menu li ul li:hover{
	background-color: rgb(28,27,42);
}
.user-wel{
	float: right;
	font-size: 20px;
	padding-right: 20px;
}
.exit{
	float: right;
	padding-right: 20px;
	font-size: 14px;
	color: #666;
	cursor: pointer;
}
.exit:hover{
	color: rgb(28,27,42);
}
i.iconfont{
	font-size: 24px;
	float: right;
	margin-left: 20px;
}
i.iconfont:hover{
	transform: scale(1.3);
	color: rgb(90,20,42);
	cursor: pointer;
}
.collecter{
	position: relative;
	float: right;
}
.collect{
	width: 250px;
	height: auto;
	max-height: 1000px;
	overflow: auto;
	padding: 10px 0;
	background-color: #ccc;
	position: fixed;
	right: -250px;
	top: 50px;
	opacity: .5;
	border-radius: 10px;
	transition: right linear .5s;
}
.collecter .iconfont:first-child:hover + .collect{
	right: 0;
}
.collect:hover{
	right: 0;
}
.collect li{
	width: 100%;
	overflow: hidden;
	height: 70px;
	border-bottom: 4px dotted #fff;
	position: relative;
}
.collect li i.iconfont{
	position: absolute;
	top: -10px;
	right: -12px;
}
.collect li p{
	text-align: center;
	font-size: 20px;
	line-height: 30px;
}
/*搜索框部分*/
.search-box{
	width: 80%;
	height: 300px;
	margin: 120px auto;

}
.search-box .search-icon{
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	font-size: 24px !important;
}
.search-verse{
	width: 80%;
	height: 60px;
	margin: 50px auto;
	display: block;
	text-align: center;
	font-size: 16px;
	color: #fff;
	border: 1px solid #1e2556;
	border-radius: 30px;
	background: #0f0f33;
}
.search-verse:hover{
	border: 1px solid #fff;
}
.search-title{
	width: 100%;
	text-align: center;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
}
.search-address{
	width: 100%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 10px;
	color: #2e2c4b;
}
.key-box{
	width: 440px;
	height: 220px;
	border-radius: 0 0 240px 240px;
	border-color: #1e2556;
	border-style: dashed;
	border-width: 0 2px 2px 2px;
	margin: -50px auto 0;
	position: relative;
	display: none;
}
.key-box ul{
	width: auto;
	height: 180px;
	margin: 0 auto;
	overflow: hidden;
}
.key-box ul li{
	display: table;
	min-width: 180px;
	width: auto;
	height: 50px;
	box-sizing: border-box;
	padding: 0 20px;
	margin: 30px auto;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	letter-spacing: 1px;
	border-radius: 25px;
	cursor: pointer;
	box-sizing: border-box;
	transition: all .5s;
}
.key-box ul li .search-icon{
	display: inline-block;
	width: 20px;
	height: 20px;
}
.key-box ul li:first-child{
	color: red;
	background-color: #0f0f33;
	border: 1px solid #1e2556;
}
.key-box ul li:last-child{
	color: #666;
	background-color: rgba(17,16,36,.6);
}
.key-box ul li:last-child:hover{
	color: red;
	background-color: #0f0f33;
	border: 1px solid #1e2556;
}
.key-box .ball{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: #1e2556;
	position: absolute;
	left: 401px;
	top: 101px;
	z-index: 200;
}
/*内容展示区*/
.con-display{
	width: 95%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
.con-display>li{
	width: 30%;
	height: 350px;
	margin: 20px 15px;
	background-color: #fff;
	transition: all .5s;
	border-radius: 5px;
	position: relative;
}
.con-display li:hover{
	transform: scale(1.05);
}
.con-display li .search-icon{
	display: block;
	width: 80px;
	height: 80px;
	margin: 30px auto 10px;
	font-size: 24px !important;
}
.con-display li h5{
	width: 100%;
	text-align: center;
	font-size: 16px;
	margin-bottom: 40px;
	color: #666;
}
.con-display li p{
	font-size: 24px;
	width: 100%;
	line-height: 60px;
	text-align: center;
	letter-spacing: 2px;
	color: #090723;
}
.con-display i.iconfont{
	opacity: 0;
	transition: all .5s;
}
.con-display>li:hover i.iconfont{
	opacity: 1;
}
/*评论区*/
.con-display .display-wrap{
	width: 100%;
	height: 100%;
	background-color: #fff;
	transition: all .5s;
	border-radius: 5px;
	overflow: auto;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.con-display .display-wrap div{
	width: 90%;
	margin: 10px auto;
	border-bottom: 4px dotted #666;
}
.con-display .display-wrap div.wrap-top{
	height: 80%;
	overflow: auto;
	border: none;
}
.con-display .display-wrap img{
	width: 50px;
	height: 50px;
	border-radius: 25px;
	vertical-align: middle;
}
.con-display .display-wrap span{
	font-size: 14px;
	padding-left: 10px;
	color: #666;
	vertical-align: middle;
}
.con-display .display-wrap p{
	line-height: 20px;
	font-size: 16px;
	padding-left: 60px;
	text-indent: 2em;
	box-sizing: border-box;
	text-align: left;
	word-break:break-word;/*文字超出换行*/
	margin-bottom: 10px;
}
/*评论部分*/
.con-display .display-wrap div.comment{
	width: 90%;
	height: 12%;
	position: absolute;
	left: 10px;
	bottom: 0;
	border: none;
}
.con-display .display-wrap div.comment span{
	font-size: 24px;
	line-height: 24px;
	cursor: pointer;
}
.con-display .display-wrap div.comment .iconfont{
	opacity: 1;
}
.con-display .display-wrap div.comment .iconfont{
	transform: scale(1);
}
.con-display .display-wrap div.comment input{
	margin-left: 30px;
	border-radius: 5px;
	border: 1px solid #000;
}
/*分页*/
.con-page{
	height: 40px;
	margin-top: 20px;
	text-align: center;
}
.con-page span{
	width: 40px;
	height: 40px;
	border-radius: 20px;
	color: #fff;
	font-size: 24px;
	display: inline-block;
	margin: 10px;
	text-align: center;
	line-height: 40px;
}
.con-page span:hover{
	background-color: rgb(90,20,42);
	cursor: pointer;
	transition: all .5s;
}


/*页面尾部*/

@media screen and (min-width: 1200px){
	footer{
		width: 100%;
		height: 220px;
		margin-top: 100px;
		background: rgba(16,15,31,.6);
	}
}
@media screen and (max-width: 1200px){
	footer{
		width: 1200px;
		height: 220px;
		margin-top: 100px;
		background: rgba(16,15,31,.6);
	}
}

footer p:first-child{
	font-size: 20px;
	text-align: center;
	padding-top: 80px;
	color: #fff;
}
footer p:last-child{
	font-size: 14px;
	text-align: center;
	margin-top: 10px;
	color: #666;
}
/*注册弹出层*/
.regi-box{
	width: 700px;
	height: 500px;
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -350px;
	background-color: #fff;
	z-index: 999;
	position: fixed;
	border-radius: 8px;
	box-shadow: 0 0 15px #000;
	display: none;
}
.regi-info{
	width: 560px;
	height: 340px;
	margin: 50px 0 0 100px;
}
.regi-info li{
	width: 100%;
	height: 60px;
}
.login-info li label,.regi-info li label{
	display: inline-block;
	width: 100px;
	font-size: 16px;
	line-height: 60px;
	letter-spacing: 2px;
	padding-right: 10px;
	text-align: right;
}
.login-info li input,.regi-info li input{
	width: 250px;
	height: 30px;
	padding-left: 10px;
	border-radius: 5px;
 	border-width: 1px;
 	border-color: #666;
}
.login-info li span .iconfont,.regi-info li span .iconfont{
	width: 15px;
	height: 15px;

}
.login-info li span,.regi-info li span{
	line-height: 50px;
	font-size: 12px;
	color: red;
	padding-left: 8px;
}
.wrap-box{
	width: 100%;
	height: 100%;
	background-color: #aaa;
	position: fixed;
	z-index: 888;
	opacity: .3;
	display: none;
}
/*登录弹出层*/
.login-box{
	width: 500px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -250px;
	background-color: #fff;
	z-index: 999;
	position: fixed;
	border-radius: 8px;
	box-shadow: 0 0 15px #000;
	display: none;
}
.login-info{
	width: 480px;
	height: 150px;
	margin: 50px 0 0 20px;
}
#login,#register{
	width: 100px;
	height: 50px;
	background-color: rgb(53,104,172);
	border-radius: 5px;
	margin: 0 auto;
	color: #fff;
	line-height: 50px;
	letter-spacing: 20px;
	text-align: center;
	text-indent: 20px;
	cursor: pointer;
}
