.search-box{
	width: 300px;
	height: 30px;
	position: relative;
}
.search-input{
	width: 75%;
	height: 100%;
	float: left;
	box-sizing: border-box;
}
.search-btn{
	width: 20%;
	height: 100%;
	float: right;
}
.search-box ul{
	position: absolute;
	top: 30px;
	left: 0;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-top: none;
}
.search-box ul li{
	width: 75%;
	height: 30px;
	border-bottom: 1px solid #aaa;
}
.search-box ul li:last-child{
	border: none;
}